.menu {
   grid-area: menu;
}

.menu__list {
   list-style-type: none;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: 50px;
   overflow: hidden;
}

.menu__item {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   position: relative;
}

.menu__text {
   margin: 0 10px;
   width: calc(100% - 10px);
   font-family: var(--font);
   font-size: 36px;
   letter-spacing: 1px;
   color: var(--colorText);
   text-decoration: none;
   transition: all 0.5s ease;
   z-index: 2;
}

.menu__item::after{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1;
   width: 100%;
   height: 0px;
   background-color: var(--colorText);
   transition: all 0.5s ease;
}

.menu__item:hover::after{
   height: 100%;
}

.menu__item:hover .menu__text{
   color: var(--colorBackground);
}