.subtitle{
   grid-area: subtitle;
   display: grid;
   grid-template-columns: 55% 45%;
   grid-template-rows: 90px;
   overflow: hidden;
}

.subtitle__name {
   font-family: var(--font);
   font-weight: thin;
   font-size: 60px;
   letter-spacing: 2px;
   margin: 0;
   padding: 5px 5px 5px 10px;
   color: var(--colorText);
}

.subtitle__text {
   font-family: var(--font);
   font-weight: bold;
   font-size: 60px;
   letter-spacing: 2px;
   margin: 0;
   padding: 5px;
   color: var(--colorText);
}

.content__title{
   grid-area: title;
   width: 100%;
   margin: 0;
}

.content__title-text {
   font-family: var(--font);
   font-weight: bold;
   font-size: 100px;
   margin: 0;
   color: var(--colorText);
   opacity: 0.5;
}

.photo {
   width: 70%;
   height: 100%;
   grid-area: photo;
   justify-self: center;
   align-self: flex-end;
   background: rgb(2, 2, 13);
   background: radial-gradient(circle, rgba(21,21,33,0.75) 0%, rgba(49,49,55,0.5) 45%);
}

.photo__picture {
   background-image: url('../../images/IMG_8856-transformed\ \(1\).png');
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: contain;
}

.content{
   grid-area: content;
   height: 300px;
}

.content__container{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   gap: 5px;
   padding: 10px;
   overflow: hidden;
}

.content__container_small{
   height: 70px;
}

.content__title{
   color: var(--colorText);
   font-family: var(--font);
   font-weight: thin;
   font-size: 28px;
   letter-spacing: 1px;
}

.content__wrapper{
   overflow: hidden;
}

.content__text{
   color: var(--colorText);
   font-family: var(--font);
   font-weight: normal;
   font-size: 28px;
   letter-spacing: 1.5px;
}
