*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.root {
   --colorText: #F8F8F9;
   --colorBackground: #313137;
   --colorButton: #8D8F7E;
   --font: 'Sansterdam';

   background-color: var(--colorBackground);
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-columns: 55% 15% 15% 15%;
   grid-template-rows: 50px 50px 90px auto 120px;
   grid-template-areas:
         "header header header header"
         "menu menu menu menu"
         "subtitle subtitle subtitle subtitle"
         "photo content content contact"
         "photo title title title";
}