*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.root {
   --colorText: #F4F4EF;
   --colorBackground: #313137;
   --colorButton: rgb(122, 128, 112);
   --font: 'Sansterdam';

   background-color: var(--colorBackground);
   width: 100%;
   min-height: 100vh;
   display: grid;
   grid-template-columns: 55% 15% 15% 15%;
   grid-template-rows: 50px 50px 90px auto 140px;
   grid-template-areas:
         "header header header header"
         ". menu menu menu"
         "subtitle subtitle subtitle subtitle"
         "photo content content contact"
         "photo title title title";
   position: relative;
}

.root__lineright{
   position: absolute;
   height: 1px;
   background-color: var(--colorText);
}

.root__linedown{
   position: absolute;
   width: 1px;
   background-color: var(--colorText);
}

.root__linedeco{
   position: absolute;
   height: 15px;
   background-color: var(--colorText);
}

.root__copy {
   opacity: 0.5;
   position: absolute;
   bottom: 20px;
   right: 10px;
   font-family: var(--font);
   font-size: 36px;
   letter-spacing: 1px;
   color: var(--colorText);
   transition: all 0.5s ease;
}